<!doctype html>
<html>
<head>
     <script type="text/javascript" src="js/jquery.min.js"></script>
     <script type="text/javascript" src="js/json2.js"></script>
     <script type="text/javascript" src="js/underscore-min.js"></script>
     <script type="text/javascript" src="js/backbone-min.js"></script>
</head>
<body>

<script id="item_tmpl" type="template/text">
<% if (tubeId) { %>
<iframe class="snd" src="http://www.youtube.com/embed/<%= tubeId %>?autoplay=1" />'
<% } else { %>
<p>No video</p>
<% } %>
</script>

<div id="item"></div>

<div id="newItem">
  <input type="text" id="tubeUrl"></input>
  <button id="add"></button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

  var socket = io.connect('http://localhost');
 
  
  
  $('#add').click(function (){
	  socket.emit('add',$('#tubeUrl').val());
	  $('#tubeUrl').val('');
  })
  
  socket.on('current', function (data) {
      var tmpl =_.template($('#item_tmpl').html());
      $('#item').html(tmpl({tubeId: data}));
      console.log("current "+ data);
  });
</script>
</body>
</html>